body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #d8bbbb;
  color: aliceblue;
  background-image: url("kolkata.png");
}
a {
  text-decoration: none;
  color: aliceblue;
}

nav {
  background-color: #87ce1d;
  padding: 10px;
  position: sticky;
  top: 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  font-size: large;
}

section {
  padding: 50px;
  margin: 25px;
  background-color: rgb(255 0 0 / 0.2);
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 5px solid #180d0d;
}

th,
td {
  padding: 10px;
  text-align: center;
}

form input,
form select {
  width: 250px;
  padding: 5px;
}

button {
  padding: 8px 15px;
  background-color: #f15050;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #241f1f;
}
